html {
  font-size: 16px;
  background-image: url(https://images.unsplash.com/photo-1578849278619-e73505e9610f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1275&q=80);
  background-size: cover;
}
input {
  width: 100%;
}
input.search-input {
  top: 10px;
  z-index: 2;
  font-size: 18px;
  text-align: left;
}
span.rating {
  font-size: 15px;
}
span.query-highlight {
  background: yellow;
}
.search-form {
  margin: 40px auto;
  max-width: 500px;
}
.results {
  margin: 0;
  padding: 0;
  position: relative;
}
.results li {
  border: solid;
  display: flex;
  justify-content: space-between;
}

.cropped-poster {
  width: 200;
  height: 300;
  object-fit: cover;
}
.movie-result {
  margin-bottom: 1em;
  padding: 1em;
  background-color: aliceblue;
}

.movie-result:last-of-type{
  padding-bottom: 0;
}

.movie-details {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2rem;
  font-weight: 600;
}

.year {
  font-size: 1.25rem;
}