html {
  font-size: 16px;
}
input {
  width: 100%;
}
input.search-input {
  top: 10px;
  z-index: 2;
  font-size: 18px;
  text-align: left;
}
span.rating {
  font-size: 15px;
}
span.query-highlight {
  background: yellow;
}
.search-form {
  margin: 40px auto;
  max-width: 500px;
}
.results {
  margin: 0;
  padding: 0;
  position: relative;
}
.results li {
  border: solid;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
